﻿
@{
    ViewBag.Title = "Menu";
}

<h2>Please select an option:</h2>

<form action="/EF/Click">
    <select name="Option">
        <option value="create">CREATE</option>
        <option value="read">READ</option>
        <option value="update">UPDATE</option>
        <option value="delete">DELETE</option>
    </select>
    <input type="submit" value="SELECT"/>
</form>

