﻿@model System.Collections.Generic.List<WebShop.Data.Item>
@{
    ViewBag.Title = "Read";
}

<h2>Read</h2>
<table>
    <tr>
    <td style="padding:10px">ID</td>
    <td style="padding:10px">Name</td>
    <td style="padding:10px">Type</td>
    <td style="padding:10px">Price</td>
    <td style="padding:10px">Delivery Charge</td>
    <td style="padding:10px">In Storage</td>
    </tr>
    <tr>
        @for (int i = 0; i < Model.Count; i++)
        {
            <td style="padding:10px">@Model[i].ItemID</td>
            <td style="padding:10px">@Model[i].Name</td>
            <td style="padding:10px">@Model[i].Type</td>
            <td style="padding:10px">@Model[i].Price</td>
            <td style="padding:10px">@Model[i].DeliveryCharge</td>
            <td style="padding:10px">@Model[i].InStorage</td>

            @: </tr><tr>
        }
    </tr>
</table>

