﻿
@{
    ViewBag.Title = "Update";
}

<h2>Update</h2>
<form action="/EF/UpdateEntity">
    ID:<input type="number" name="ItemID" /><br />
    Type:<input type="text" name="Type" /><br />
    Name:<input type="text" name="Name" /><br />
    Price:<input type="number" name="Price" /><br />
    Is In Storage:<input type="checkbox" name="InStorage" /><br />
    Delivery Charge:<input type="number" name="DeliveryCharge" /><br />
    <input type="submit" value="UPDATE" />
</form>
