﻿@{ 
  ViewBag.Title = "API Test";
}

<h2> API Test</h2>

<p id="message" style="color:red;font-weight:bold"></p>

<ul id="itemlist"></ul>

Item ID: <input type="text" id="itemID" /><br/>
<button onclick="doList()">LIST</button>
<button onclick="doListNEW()">LIST2</button>
<button onclick="doAdd()">ADD</button>
<button onclick="doUpd()">UPDATE</button>
<button onclick="doDel()">DELETE</button>