﻿
@{
    ViewBag.Title = "ExerciseInput";
}

<h2>Calculate, how much calorie you are burning!</h2>

<form method="post" action="/CalorieCounter/Exercise">
    Name:<input type="text" name="Name" /><br />
    Weight:<input type="text" name="Weight" /><br />
    Exercise:<select name="Type">
        <option>Running</option>
        <option>Yoga</option>
        <option>Pilates</option>
        <option>Hiking</option>
        <option>Swimming</option>
        <option>Bicycle</option>
    </select><br />
    Exercise's duration(minutes):<input type="text" name="Minute"/><br/>
    <input type="submit" value="CALCULATE!" />
</form>

